:root {
    --purple: #8f39ff;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background: hsl(0, 0%, 7%);
    background-size:cover;
    background-repeat:repeat;
    color: var(--fontColor);
    font-family: courier;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

#cursor{
    font-size: 55px;
}

mark{
    background-color:#333;
    padding:0.1em, 0.2em;
}


h1 {
  text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    margin-left:180px;
}

h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

/*navigation menu*/
.crumb3 li
{
  display: inline-block;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 9px #333;
  border-radius: 7px;
  border: 1px solid #333;
}

.crumb3 li:active
{
  box-shadow: 0 5px #333;
  transform: translateY(4px);
  background: #0d9f00;
}

.crumb3 li:hover
{
    background: #0d9f00;
}

/*title card*/
  .container {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 #0d9f00(20, 166, 20), 2px -3px 0 #0d9f00(20, 20, 166);
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 #0d9f00, -2px 3px 0 #0d9f00;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 #0d9f00, 2px -3px 0 #0d9f00;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 #0d9f00, -2px 3px 0 #0d9f00;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

  .textbox {
    display:flex;
    flex-direction: column;
  }

  @media (max-width: 768px) { /* For tablets and smaller devices */
    .textbox {
        margin: 20px 50px; /* Reduce side margins */
        font-size: 1em; /* Adjust font size */
    }
}

@media (max-width: 480px) { /* For mobile devices */
    .textbox {
        margin: 10px 20px; /* Further reduce side margins */
        font-size: 0.9em; /* Further adjust font size */
    }
}